

@media (min-width: 768px) {

    body
    {
        font-size: 14px;
    }

    .container {

        padding: 40px 5px;
    }

    /* chefs media */

    .chefs .chefs-cards 
    {

        justify-content: space-evenly;
    }

    .chefs .chefs-cards .card
    {
        width: calc(50% - 15px);
    }

    /* Gallery media */
    .gallery .gallery-imgs
    {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-evenly;
        align-content: space-between;
    }

    .gallery .gallery-imgs .card
    {
        width: 45%;
        height: fit-content;
    }
    .gallery .gallery-imgs .card-1    
    {
        order: 1;
    }
    .gallery .gallery-imgs .card-2
    {
        order: 2;
    }
    .gallery .gallery-imgs .card-3
    {
        order: 3;
    }
    .gallery .gallery-imgs .card-4
    {
        order: 5;
    }
    .gallery .gallery-imgs .card-5
    {
        order: 4;
    }
    
    .gallery .gallery-imgs .card-6
    {
        order: 7;
    }
    
    .gallery .gallery-imgs .card-7
    {
        order: 6;
    }

    /* Contact media */

    .contact .contact-info
    {

    }
    .contact .contact-info .contact-card
    {
        width: calc(50% - (10px/2));
    }


    /* Footer media */

    .footer .container
    {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    
    
    .footer .container .about
    {
        width: calc(50% - (15px / 2));
    }
    .footer .container .contact-details
    {
        width: calc(50% - (15px / 2));
    }
    
    .footer .container .contact-details ul
    {
        padding-left: 15px;
    }

    .footer .container .subscribtion
    {
        order: 3;
    }

}

/* ====================================================================== */



@media (min-width: 992px) {
    body {
        font-size: 15px;
    }

    .container {

        padding: 40px 5px;
    }

    /*NavBar Media  */

    .navbar .container
    {
        padding: 25px 5px;
    }
    .navbar .nav-links
    {
        display: block;
    } 

    .navbar .nav-links ul
    {
        margin: 0;
        display: flex;
        padding: 0;
    }

    .navbar .nav-links ul li
    {
        text-align: center;
        list-style-type: none;
        padding: 5px 15px;
        overflow: hidden;
    }

    .navbar .nav-links a 
    {
        font-size: 17px;
        color: #4F4F5A;
        position: relative;
        transition: all 0.3s;
    }
    
    .navbar .nav-links a::before
    {
        content: "";
        position: absolute;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background-color: #CE1212;
        transform: translateX(-200%);
        transition: all 0.8s;
    }
    
    .navbar .nav-links ul li a:hover
    {
        color: black;
    }
    .navbar .nav-links ul li a:hover::before
    {
        transform: translateX(0%);
    }


    .navbar .nav-links .Active
    {
        color: black;
    }
    


    /* Home media */
    .home 
    {
        min-height: fit-content;
        padding-bottom: 0;
    }
    .home .container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }

    .home .home-photo
    {
        width: 40%;
    }
    
    .home .home-content
    {
        width: 40%;
        text-align: left;
    }

    .home .home-content .buttons-group .main-btn a
    {
        border-radius: 0px 50px 50px 50px;
    }



    /* chefs media */

    .chefs .chefs-cards 
    {

        justify-content: space-evenly;
    }
    
    .chefs .chefs-cards .card
    {
        width: calc(32% - 15px);
    }

    /* Gallery media */
    .gallery .gallery-imgs
    {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-evenly;
        align-content: space-between;
    }

    .gallery .gallery-imgs .card
    {
        width: calc(32% - 10px);
        height: fit-content;
    }
    .gallery .gallery-imgs .card-1    
    {
        order: 1;
    }
    .gallery .gallery-imgs .card-2
    {
        order: 3;
    }
    .gallery .gallery-imgs .card-3
    {
        order: 4;
    }
    .gallery .gallery-imgs .card-4
    {
        order: 7;
    }
    .gallery .gallery-imgs .card-5
    {
        order: 6;
    }
    
    .gallery .gallery-imgs .card-6
    {
        order: 2;
    }
    
    .gallery .gallery-imgs .card-7
    {
        order: 5;
    }

    /* Contact media */

    .input-group
    {
        gap: 10px;
    }
    
    .input-group input
    {
        width: calc(50% - 5px);
    }


    /* Footer media */

    .footer .container
    {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    
    .footer .container .about
    {
        width: calc(50% - 5px);
    }
    .footer .container .contact-details
    {
        width: calc(50% - 5px);
    }
    
    
    
    .footer .container .subscribtion
    {
        order: 3;
    }
}



/* ======================================================================= */



@media (min-width: 1200px) {
    body 
    {
        font-size: 18px;
    }

    /* Home media */
    .home .container
    {
        margin-top: 95px;
    }

    .home
    {
        height: 100vh;
    }

    /* footer media */

    .footer .container
    {
        gap : 20px;
    }

    .footer .container .about
    {
        width: 25%;   
    }

    .footer .container .subscribtion
    {
        width: 30%;   
        order: 0;
        flex-grow: 1;
    }

    .footer .container .contact-details
    {
        width: 25%;   
    }

}
